<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>irods-rest</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/rest-servlet.xml</param-value>
	</context-param>

	<context-param>
		<param-name>resteasy.media.type.param.mapping</param-name>
		<param-value>contentType</param-value>
	</context-param>

	 <filter>
	   <filter-name>springFilter</filter-name>
	   <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
	   <filter-name>springFilter</filter-name>
	   <servlet-name>rest</servlet-name>
	</filter-mapping>

	<!-- security measure to combat XXE attacks - see http://docs.jboss.org/resteasy/docs/2.3.6.Final/userguide/html/Content_Marshalling_Providers.html -->
	<context-param>
		<param-name>resteasy.document.expand.entity.references</param-name>
		<param-value>false</param-value>
	</context-param>

	<!-- <context-param> <param-name>resteasy.scan</param-name> <param-value>true</param-value> 
		</context-param> -->

	<!-- RESTEasy configuration -->
	<listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>

	<!-- RESTEasy <-> Spring connector (RESTEasy can access Spring beans) -->
	<listener>
		<listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
	</listener>

	<!-- RESTEasy HTTP Request processor -->
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/rest</param-value>
	</context-param>
	<servlet>
		<servlet-name>rest</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>

	<!-- NEVER map servlet to root context "/*" ! -->
	<servlet-mapping>
		<servlet-name>rest</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

</web-app> 